h1 {
  color: "#F05C51";
  color: "#3AC0FF";
  color: "#77DF40";
  color: "#F4C837";
  color: "#C56DFB";
  color: "#FF6C00";
  color: "#FF4081";
  color: "#09C097";
  color: "#547DF9";
  color: "#";
  color: "#";
  color: "#";
  color: "";
  color: "";
  color: "";
  color: "";
  color: "";
  color: "";
  color: "";
  color: "";
  color: "";
}
